.Beers {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  button.btn-desktop {
    display: none;
  }
  .dropdown {
    margin: 1rem 0;
  }
  .beers-container {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    padding: 3% 5%;
    text-align: left;
    .beers-link-item {
      color: #ffffff;
      .beers-name {
        font-size: 0.75rem;
        margin-bottom: 15px;
      }
    }
    .beers-error {
      font-size: 1rem;
      text-align: center;
    }
  }
  .beers-not-found {
    display: none;
  }
}

@media (min-width: 992px) {
  .Beers {
    .form-inline {
      display: flex;
      button {
        display: inline;
      }
    }
    .beers-container {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      padding: 2% 1%;

      .beers-link-item {
        font-size: 0.5rem;
        height: 40%;
        margin: 0 auto;
        text-align: left;
        width: 20%;
        .beers-name {
          font-size: 0.75rem;
          width: 70%;
        }
      }
    }
  }
}
