.Breweries {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  .Breweries-search {
    .form-inline {
      width: 90vw;
    }
  }
  button.btn-desktop {
    display: none;
  }
  .dropdown {
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
  .Breweries {
    .form-inline {
      display: flex;
      // width: 90vw;
      button {
        display: inline;
        // width: 90vw;
      }
    }
  }
}
